html, body {
  margin:0;border:0;padding:0;
  font-size:16px;
  font-family: 'Montserrat', sans-serif;
  overflow-x:hidden;
  position: relative;
  vertical-align: baseline;
}

html {
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
}

h1 {font-size:40px;}
h2 {font-size:36px;}
h3 {font-size:30px;}
h4 {font-size:24px;}
h5 {font-size:20px;}
h6 {font-size:18px;}

h2 {
  padding-bottom: 14px;
}

.col-md-6 {width: 49%;}

/* Style the top navigation bar */
.navbar {
  overflow: hidden;
  background-color: #ffffff;
  padding-top: 10px;
  padding-bottom: 0px;
}

/* Style the navigation bar links */
.navbar a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 20px;
  margin-bottom: 10px;
  text-decoration: none;
}

.navbar a:hover {
  color: black;
}

.navbar a.active {
  color: gray;
}

/* Right-aligned link */
.navbar a.right {
  float: right;
}

button {
  list-style-type: circle;
}

.accent {
  font-family: 'Montserrat', sans-serif;
  line-height: 14px;
  color: #000000;
  text-align: center;
}

.align-l {
  text-align: left;
  color: #000000;
}

.align-r {
  text-align: right;
}

.space-1 {
  text-indent: 24px;
}

.bold {
	font-weight: bold;
}

.title {
	color: #000000;
}

.white {
  color: #fff;
}

.black {
  color:#000;
}

.size {
  font-size: large;
}

.about {
  padding: 60px;
  min-height: 400px;
}

.aboutpic {
  padding: 60px;
  min-height: 400px;
}

.hi {
  padding: 60px;
  min-height: 320px;
}

.education {
  padding: 60px;
  min-height: 300px;
}

.project {
  padding: 60px;
  min-height: 2300px;
  margin-bottom: 20px;
}

.skill {
  padding: 60px;
  min-height: 60px;
}

.skill-2 {
  padding: 60px;
  min-height: 620px;
  margin-bottom: 20px;
}

.skill-text {
  padding: 10px;
  min-height: 50px;
  margin-bottom: 20px;
  margin-right: 10px;
  display: inline-block;
}

.skill-text2 {
  padding: 10px;
  min-height: 60px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
}

.contact {
  padding: 60px;
  min-height: 380px;
  margin-bottom: 20px;
}

.education, .languages,
.experience {
  margin-top: 20px;
  margin-bottom: 20px;
}

.line {
  border-left: 6px solid green;
  height: 500px;
}

.column-l {
  float: left;
  width: 33.33%;
  padding: 5px;
  padding-bottom: 10px;
}

.column-lb {
  float: left;
  width: 33.33%;
  padding: 5px;
  padding-bottom: 10px;
}

.column-r {
  float: right;
  width: 33.33%;
  padding: 5px;
  padding-bottom: 10px;
}

.column-l2 {
  float: left;
  width: 48.65%;
  padding: 5px;
}

.column-r2 {
  float: right;
  width: 48.65%;
  padding: 5px;
}

/* preloader section */
.preloader {
  position: fixed;
  top: 0;
  left: 0;
   width: 100%;
  height: 100%;
   z-index: 99999;
   display: -webkit-flex;
    display: -ms-flexbox;
   display: flex;
   -webkit-flex-flow: row nowrap;
   -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
     -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
     -ms-flex-align: center;
     align-items: center;
    background: none repeat scroll 0 0 #fff;
  background: none repeat scroll 0 0 #f9f9f9;
}
.sk-spinner-wordpress.sk-spinner {
  background-color: pink;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  position: relative;
  -webkit-animation: sk-innerCircle 1s linear infinite;
          animation: sk-innerCircle 1s linear infinite; }
.sk-spinner-wordpress .sk-inner-circle {
  display: block;
  background-color: #fff;
  width: 8px;
  height: 8px;
  position: absolute;
  border-radius: 30px;
  top: 6px;
  left: 6px; }

@-webkit-keyframes sk-innerCircle {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0); }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes sk-innerCircle {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0); }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

/* header section */
header {
  text-align: left;
  min-height: 200px;
  overflow: hidden;
  position: relative;
  padding-top: 100px;
  padding-bottom: 0px;
}
header img {
  display: inline-block !important;
}
header h2 {
  padding-top: 40px;
}
header hr {
  border-color: #3366CC;
  width: 100px;
}

/* about section */
.about {
  background: #ffffff;
  color: #f5f5f5;
  padding-right: 100px;
  padding-left: 400px;
  padding-bottom: 15px;
  padding-top: 50px;
  }

.aboutpic {
  padding-right: 600px;
  padding-left: 20px;
  padding-bottom: 50px;
  padding-top: 0px;
  }

/* hi section */
.hi {
  background: #ffffff;
  color: #000000;
  text-align: center;
  padding-bottom: 20px;
}

/* projects section */
.project {
  background: #ffffff;
  color: #000000;
  text-align: center;
}

.project h5 {
  display: inline-block;
}

.projectpadding-r {
  background: #ffffff;
  color: #f5f5f5;
  padding-right: 30px;
  padding-left: 400px;
  padding-bottom: 20px;
  padding-top: 10px;
  }

  .projectpadding-optical {
    background: #ffffff;
    color: #f5f5f5;
    padding-right: 30px;
    padding-left: 400px;
    padding-bottom: 0px;
    padding-top: 10px;
    }

  .projectpadding-rn {
    background: #ffffff;
    color: #f5f5f5;
    padding-right: 30px;
    padding-left: 400px;
    padding-bottom: 180px;
    padding-top: 20px;
    }

.projectpadding-l {
  background: #ffffff;
  color: #f5f5f5;
  padding-right: 400px;
  padding-left: 30px;
  padding-bottom: 20px;
  padding-top: 0px;
    }

/* education section */
.education {
  background: #ffffff;
  color: #000000;
  text-align:center;
  list-style-type:circle;
  padding-top: 20px;
  padding-bottom: 20px;
}

.education h5 {
  display: inline-block;
}
.education span {
  padding-right: 10px;
  padding-left: 40px;
}

/* projects section */
.project {
  background: #ffffff;
  color: #000000;
  text-align:center;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* skill section */
.skill {
  background: #192350;
  color: #ffffff;
  text-align:center;
  padding-top: 5px;
  padding-bottom: 5px;
}

.skill-2 {
  background: #283560;
  color:#ffffff;
  text-align:center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.skill-text {
  background-color:#495378;
  color:#ffffff;
  opacity: 0.9;
  text-align:center;
  padding-top: 20px;
  padding-bottom: 10px;
  padding-right: 5px;
  padding-left: 5px;
}


/* contact section */
.contact {
  padding: 60px;
  background: #fff;
  text-align: center;
}
.contact .fa {
  padding-right: 6px;
  padding-left: 6px;
  text-align: center;
}

/* footer section */
footer {
  color: #f9f9f9;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 100px;
}

/* social icon section */
.social-icons {
  padding: 0;
  margin: 0;
}
.social-icons li {
  display: inline-block;
  list-style: none;
}
.social-icons li a {
  background: purple;
  border-radius: 50%;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  transition: all 0.4s ease-in;
  position: relative;
  bottom: 10px;
  top: 10px;
}
.social-icons li a:hover {
  background: #202020;
  color: #fff;
}

.img-responsive {
  max-width: 60%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
}

/* 980 px */

@media ( max-width: 980px ) {
  .img-profile {
    max-width: 120%;
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: auto;
      position: relative;
    }
  }

@media ( max-width: 980px ) {
  .about {
    padding-left: 20px;
}

@media ( max-width: 980px ) {
  .projectpadding-l, .projectpadding-r,
  .projectpadding-rn {
    padding-left: 20px;
    padding-right: 20px;
    font-size: small;
    float: "left";
    width: auto;
  }
}

@media ( max-width: 980px ) {
  .project p, .hi p{
    font-size: 15px;
  }
}

@media ( max-width: 980px) {
  .img-project {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
      height: auto;
      position: static;
    }
  }

  @media ( max-width: 980px ) {
    .img-blender {
        display: block;
        margin-left: 50px;
        margin-right: auto;
        width: auto;
        position: relative;
      }
    }

@media ( max-width: 980px ) {
  .skill {
    margin-right: 20px;
    margin-left: 20px;
  }
}

@media ( max-width: 980px ) {
  .skill-2, .project,
  .education, .about,
  .hi, .contact, .img{
    margin-right: 20px;
    margin-left: 20 px;
  }
}

@media ( max-width: 980px ) {
  .skill-text {
    width: 100%;
    margin-right: 10px;
  }
}

/* 1284 px */
@media ( max-width: 1284px ) {
  .img-profile {
      display: block;
      margin-left: 50px;
      margin-right: auto;
      width: auto;
    }
  }

@media ( max-width: 1284px ) {
  .about {
    padding-left: 10px;
  }
}

@media ( max-width: 1284px ) {
  .projectpadding-l, .projectpadding-r,
  .projectpadding-rn {
    padding-left: 20px;
    padding-right: 20px;
    font-size: small;
    float: "left";
    width: auto;
  }
}

@media ( max-width: 1284px ) {
  .project p, .hi p{
    font-size: 15px;
  }
}

@media ( max-width: 1284px ) {
  .projectpadding-l, .projectpadding-r,
  .projectpadding-rn {
    padding-left: 20px;
    padding-right: 20px;
    font-size: small;
    float: "left";
    width: auto;
  }
}

@media ( max-width: 1284px ) {
  .img-project {
      margin-left: 10px;
      margin-right: 10px;
      width: auto;
    }
  }

  @media ( max-width: 1284px ) {
    .img-blender {
        margin-left: 10px;
        margin-right: 10px;
        width: auto;
      }
    }

@media ( max-width: 1284px ) {
  .skill {
    margin-right: 20px;
    margin-left: 20px;
  }
}

@media ( max-width: 1284px ) {
  .skill-2, .project,
  .education, .about,
  .hi, .contact, .img{
    margin-right: 20px;
    margin-left: 20 px;
  }
}

@media ( max-width: 1284px ) {
  .skill-text {
    width: 100%;
    margin-right: 10px;
  }
}

/* 1536 px */
@media ( max-width: 1536px ) {
  .img-profile {
      display: block;
      margin-left: 100px;
      margin-right: auto;
      width: auto;
    }
  }

@media ( max-width: 1536px ) {
  .about {
    padding-left: 10px;
  }
}

@media ( max-width: 1536px ) {
  .projectpadding-l, .projectpadding-r,
  .projectpadding-rn {
    padding-left: 20px;
    padding-right: 20px;
    font-size: small;
    float: "left";
    width: auto;
  }
}

@media ( max-width: 1536px ) {
  .project p, .hi p{
    font-size: 15px;
  }
}

@media ( max-width: 1536px) {
  .img-project {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: auto;
    }
  }

  @media ( max-width: 1536px ) {
    .img-blender {
        display: block;
        margin-left: 50px;
        margin-right: auto;
        width: auto;
      }
    }
    
@media ( max-width: 4000px ) {
  .skill {
    margin-right: 20px;
    margin-left: 20px;
  }
}

@media ( max-width: 1536px ) {
  .skill-2, .project,
  .education, .about,
  .hi, .contact, .img{
    margin-right: 20px;
    margin-left: 20px;
  }
}

@media ( max-width: 1536px ) {
  .skill-text {
    width: 100%;
    margin-right: 10px;
  }
}
}